Dictionary.xcodeproj/project.pbxproj
Dictionary.xcodeproj/xcuserdata/janbannister.xcuserdatad/xcschemes/xcschememanagement.plist
Dictionary.xcodeproj/xcuserdata/janbannister.xcuserdatad/xcschemes/Dictionary.xcscheme
Dictionary.xcodeproj/project.xcworkspace/xcuserdata/janbannister.xcuserdatad/UserInterfaceState.xcuserstate
Dictionary.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Dictionary.xcodeproj/xcuserdata/janbannister.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
